html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 14px; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #181b23; }

.teko {
  font-family: 'Teko', sans-serif;
  font-weight: 300; }
  .teko--bold {
    font-weight: 500; }

.backlight {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.05)); }

p {
  line-height: 1.5rem;
  margin-bottom: 1rem; }

a {
  text-decoration: none; }

* {
  margin: 0; }

html {
  height: 100%; }

img {
  max-width: 100%;
  height: auto; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

.relative {
  position: relative; }

.container {
  margin: 0 auto; }

.clearfix::after {
  content: ' ';
  display: block;
  clear: both; }

.pull-left {
  float: left; }
  @media (min-width: 480px) {
    .pull-left--small {
      float: left; } }
  @media (min-width: 640px) {
    .pull-left--medium {
      float: left; } }
  @media (min-width: 800px) {
    .pull-left--blend {
      float: left; } }

.pull-right {
  float: right; }
  @media (min-width: 480px) {
    .pull-right--small {
      float: right; } }
  @media (min-width: 640px) {
    .pull-right--medium {
      float: right; } }
  @media (min-width: 800px) {
    .pull-right--blend {
      float: right; } }

.inline--from-small {
  display: none; }
  @media (min-width: 480px) {
    .inline--from-small {
      display: inline; } }

@media (min-width: 480px) {
  .inline--until-small {
    display: none; } }

.uc {
  text-transform: uppercase; }

.align-centre {
  text-align: center; }

.app {
  padding: 5rem 10%;
  position: relative;
  z-index: 32; }
  .app__border {
    border: 0.5rem solid rgba(255, 255, 255, 0.1); }

.field {
  text-align: center;
  padding: 2rem; }
  .field__input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    color: #000000;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0;
    padding: 0.6rem 1rem;
    border: 0;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border: 0.3rem solid rgba(255, 255, 255, 0.3);
    -moz-transition-property: background;
    -o-transition-property: background;
    -webkit-transition-property: background;
    transition-property: background;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s; }
    .field__input:hover {
      background: rgba(255, 255, 255, 0.5); }
    .field__input:focus {
      background: rgba(255, 255, 255, 0.8); }

.counter {
  padding: 3rem 0 1rem; }
  .counter__title {
    color: #1ba70a;
    font-size: 7rem;
    line-height: 8rem;
    margin-bottom: 0;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px #1ba70a; }
    .counter__title span.u {
      color: #404040;
      text-shadow: 0 0 10px #404040; }

.compare {
  padding: 1rem 0 3rem; }
  .compare__title {
    color: #2657de;
    font-size: 7rem;
    line-height: 8rem;
    margin-bottom: 0;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(28, 94, 216, 0.5); }

.header {
  padding: 2rem 0 0; }
  .header__title {
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    color: #bb0a44;
    font-size: 7rem;
    line-height: 8rem;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 0 -4px 20px rgba(255, 82, 162, 0.2); }
    .header__title span {
      color: #0e090e; }

.footer {
  padding: 2rem 0; }
